POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=securepass
POSTGRES_DB=sketcherry
DB_NEED_SSL_SETTINGS=false

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@sketcherry.local
ADMIN_PASSWORD=Admin12345
ADMIN_ABOUT=Built-in templates owner

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=yourmail@gmail.com
EMAIL_PASSWORD=yourpassword

ACCESS_TOKEN_SECRET=accesssecret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_SECRET=refreshsecret
REFRESH_TOKEN_TTL=7d
CONFIRM_TOKEN_SECRET=confirmsecret
CONFIRM_TOKEN_TTL=15m

VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

VITE_UNSPLASH_API_KEY=your-application-access-key

EMAIL_API_AND_CLOUD_FILE_STORAGE=false
# if EMAIL_API_AND_CLOUD_FILE_STORAGE is 'true', provide variables listed below
PROMAILER_API_KEY=your-promailer-api-key
CLOUDFLARE_R2_ENDPOINT=your-cloudflare-r2-endpoint
CLOURFLARE_R2_ACCESS_KEY_ID=your-cloudflare-r2-access-key-id
CLOURFLARE_R2_SECRET_ACCESS_KEY=your-cloudflare-r2-secret-access-key
CLOUDFLARE_R2_BUCKET_NAME=your-cloudflare-r2-bucket-name
CLOUDFLARE_R2_BUCKET_URL=your-cloudflare-r2-bucket-url
