POSTGRES_USER=user
POSTGRES_PASSWORD=securepass
POSTGRES_DB=sketcherry

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=yourmail@gmail.com
EMAIL_PASSWORD=yourpassword

ACCESS_TOKEN_SECRET=accesssecret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_SECRET=refreshsecret
REFRESH_TOKEN_TTL=7d
CONFIRM_TOKEN_SECRET=confirmsecret
CONFIRM_TOKEN_TTL=15m

VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
