.header {
  border-bottom: var(--main-border);
  box-shadow: var(--shadow);
  -webkit-user-select: none;
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  gap: 40px;
  backdrop-filter: blur(20px);
  padding: 8px 20px;
  width: 100%;
  max-width: 1500px;
  transition: all ease-in-out 0.3s;
}

.header nav .logo-container {
  display: flex;
  flex-grow: 1;
}

.header nav .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1.7rem;
  line-height: 1;
}

.header nav .logo svg {
  height: 38px;
  width: auto;
  transition: transform ease-in-out 0.5s;
}

.header nav .logo:hover svg {
  transform: rotate(10deg);
}

.header nav .tab-icon {
  height: 20px;
  width: auto;
}

.header nav .auth-avatar {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  object-fit: cover;
}

@media (max-width: 770px) {
  .header nav .tab-name {
    display: none;
  }

  .header nav .tab-icon {
    height: 26px;
  }
}

@media (max-width: 620px) {
  .header nav {
    gap: 20px;
  }

  .header nav .logo-container {
    flex-grow: 0;
  }

  .header nav .logo:not(.logo-error) .app-name {
    display: none;
  }
}
