.modal-container {
  background: var(--transparent-black);
  backdrop-filter: blur(10px);
  padding: 20px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &[data-entering],
  &[data-exiting] {
    opacity: 0;
  }
}

.modal-content {
  background: var(--container-color);
  gap: 10px;
  max-height: 90%;
  overflow-y: auto;
  min-width: 320px;
  width: 100%;
  max-width: 450px;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
}
