.pagination {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination .prev {
  padding-top: 3px;
  transform: rotate(0deg);
}

.pagination .next {
  padding-top: 3px;
  transform: rotate(180deg);
}

