.image-and-size {
  background: var(--container-color);
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.project-info {
  padding: 3px 5px 0 5px;
}

.project-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 250;
  position: relative;
  transition:
    background ease-in-out 0.5s,
    width ease-in-out 0.5s,
    transform ease-in-out 0.5s;
}

.project-preview img {
  border: 2px solid #fff;
  border-radius: 20px;
  object-fit: contain;
  object-position: 50% 50%;
  width: 250px;
  height: 168px;
}

.project-preview-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.project-preview-menu,
.size {
  opacity: 0;
  transition:
    transform 0.2s,
    opacity 0.2s;
}

.project-preview:hover .project-preview-menu,
.project-preview:hover .size,
.project-preview-menu:hover {
  opacity: 1;
}

.size {
  -webkit-text-stroke: 1px #000;
  color: #fff;
  position: absolute;
  top: 72.6665px;
  z-index: 1;
}

.project-preview-container svg path {
  fill: var(--accent-font-color) !important;
  transition: fill ease-in-out 0.3s;
}
