.share-menu {
  min-width: 330px;
}

.share-menu .menu-item {
  font-size: 1.85rem;
  padding: 5px 10px;
}

.share-menu .menu-item svg {
  height: 27px;
  width: 27px;
}

.share-menu .email-icon path {
  fill: var(--accent-font-color);
}

.share-menu .facebook-icon path {
  fill: #1877f2;
}

.share-menu .pinterest-icon path {
  fill: #e60023;
}
